<script>
$(function() {
  var url = window.location.pathname;
  var id = url.substring(url.lastIndexOf('/') + 1);
  $('.itinerary-button').on("click", function() {
    console.log("hello");
    $(this).html("hello");
    $.post('/plans', {
      _method: "POST",
      place_id: id
    })
    .fail(function(response) {
      $('.itinerary-container').append("<div>Bad</div>");
    })
    .done(function(msg) {
      $('.itinerary-container').append("<div>good</div>");
      $('.itinerary-container').append(msg);
    });
  });
  $('.add').on("click", function() {
    gp = $(this).parent().parent();
    $.post('/sights', {
      _method: "POST",
      name: gp.data("name"),
      address: gp.data("address"),
      website: gp.data("website"),
      url: gp.data("url"),
      plan_id: $('.itinerary').data("id"),
      place_id: id
    })
    .done(function(msg) {
      $('.itinerary-container').append(gp.data("name"));
      //$.post('/plans/' , {

      //})
      //.done(function(msg) {
      //  $('.itinerary-container').append(gp.dataset.name);
      //});
    });
  });
});
</script>

<h1>
  <%= @place.city %>
</h1>

<div class="itinerary-container" >
  <% if user_signed_in? %>
    <% plan = current_user.plans.where(place: @place).first %>
    <% unless plan.nil? %>
      <p class="itinerary" data-id="<%= plan.id %>" >Your Itinerary</p>
      <% plan.sights.each do |sight| %>
        <%= sight.name %>
        <%= sight.address %>
        <%= link_to "Website", sight.website %>
        <%= link_to "Google Maps", sight.url %>
      <% end %>
    <% else %>
      <div class="itinerary-button">
        Create itinerary
      </div>
    <% end %>
  <% end %>
</div>

<div class="col-xs-12 col-sm-4">
  <h3>Hotels</h3>
  <% @hotels_details.each do |hotel| %>
    <% h = hotel["result"] %>
    <div data-name="<%= h["name"] %>" data-address="<%= h["formatted_address"] %>" data-website="<%= h["website"] %>" data-url="<%= h["url"] %>" >
      <p>
        <span class="add">+</span>
        <b><%= h["name"] %></b>&nbsp;
        <% unless h["price_level"].nil? %>
          <% h["price_level"].to_i.times do |i| %>$<% end %>
        <% end %>
      </p>
      <p><%= h["formatted_address"] %></p>
      <% unless h["website"].nil? %>
        <button><%= link_to "View website", h["website"] %></button>
      <% end %>
      <button><%= link_to "View on Google Maps", h["url"] %></button>
    </div>
  <% end %>
</div>

<div class="col-xs-12 col-sm-4">
  <h3>Attractions</h3>
  <% @attractions_details.each do |attraction| %>
    <% a = attraction["result"] %>
    <div>
      <p>
        <b><%= a["name"] %></b>&nbsp;
        <% unless a["price_level"].nil? %>
          <% a["price_level"].to_i.times do |i| %>$<% end %>
        <% end %>
      </p>
      <p><%= a["formatted_address"] %></p>
      <% unless a["website"].nil? %>
        <button><%= link_to "View website", a["website"] %></button>
      <% end %>
      <button><%= link_to "View on Google Maps", a["url"] %></button>
    </div>
  <% end %>
</div>

<div class="col-xs-12 col-sm-4">
  <h3>Restaurants</h3>
  <% @restaurants_details.each do |restaurant| %>
    <% r = restaurant["result"] %>
    <div>
      <p>
        <b><%= r["name"] %></b>&nbsp;
        <% unless r["price_level"].nil? %>
          <% r["price_level"].to_i.times do |i| %>$<% end %>
        <% end %>
      </p>
      <p><%= r["formatted_address"] %></p>
      <% unless r["website"].nil? %>
        <button><%= link_to "View website", r["website"] %></button>
      <% end %>
      <button><%= link_to "View on Google Maps", r["url"] %></button>
    </div>
  <% end %>
</div>
